{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock  %}

{% block content %}
    <h1>{{title}}</h1>
    <hr/>

    {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.username %}
        <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
        <p>
            Soldado tu codigo es:{{user.id}}
            |
            Soldado tu nombre de usuario es:{{user.username}}
        </p>
    {% else %}
        <h2>Identificate para ver mas cosas</h2>
    {% endif %}
{% endblock %}
