{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock  %}

{% block content %}
    <h1>{{title}}</h1>

    {{registrar_formulario.errors}}

    <form method="post" action="">
       
        {% csrf_token %}
        
        {% for campo in registrar_formulario %}
            <label>{{campo.label}}</label>
            {{campo}}
        {% endfor %}
        

        <input type="submit" value="Registrarse" />
    </form>
{% endblock %}