<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>
        {% block title %}
        <!--Titulo que viene de los templates-->
        {% endblock %}
        | Rey Mozart
    </title>
</head>

<body>

    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <img src="{% static 'images/logoReyMozart.png' %}" />
            <h1>REY MOZART</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            {% if user.username %}
                <li>
                    <a href="{% url 'registerA' %}">Registre Armamento</a>
                </li>
                <li>
                    <a href="{% url 'editArmsol' user.id %}">Cambie o Elimine Armamento</a>
                </li>
                <li>
                    <a href="{% url 'listArmSol' user.id %}">Historial Armamento</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">Registro Soldado</a>
                </li>
                <li>
                    <a href="{% url 'logueo' %}">Login Soldado</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>


    <div id="content">
        <div class="box">
            {% block content %}
            <!--codigo que viene de los templates-->
            {% endblock %}
        </div>
    </div>

    <script>
        $(function() {
        $("#idarmamento").chained("#idhabilidad");
        })
    </script>

    <footer>
        Aplicacion Rey Mozart &copy; Rey Mozart - {% now "d/m/Y h:m:s" %}
    </footer>

    <script type="text/javascript" src = "{% static 'js/jquery.js' %}"></script>

    <script src="{% static 'js/jquery.chained.js' %}"></script>

</body>

</html>