{% extends 'layouts/layout.html' %}

{% block title%} 
    Editar Armamento
{% endblock %}

{% block content %}

    <h1>Editar Armamento Soldado</h1>

    <p> -Cambie de armamento si lo requiere </p>
    <p> -Elimine armamento si lo requiere </p>
    <p> -en caso de registrar armamento repetido, no edite, solo elimine si es necesario </p>
        
        

    {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}

    {% endif %}

    {% for idSold in listIdSoldado %}
    <article class="sold-item">
        
        <div class="data">
            
            <h2>
               Codigo de registro armamento:{{idSold.id_usuario_armas}} 
            </h2>

            <span class="date">
                Arma:{{idSold.armamento.nombre_arma}}
                |
                Habilidad: {{idSold.habilidad.nombre_habilidad}}
            </span>

            <p>
                <a href="{% url 'updateArmSol' idSold.id_usuario_armas %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'deleteArmSol' idSold.id_usuario_armas %}" class="btn">Eliminar</a>
            </p>

        </div>
        
        <div class="clearfix"></div>
                
    </article>
    {% endfor %}
   
{% endblock %}