{% extends 'layouts/layout.html' %}

{% block title%} 
    Historial Armamento
{% endblock %}

{% block content %}

    <h1>Historial Armamento Soldado</h1>

    <p> cabe recalcar que si cambia o edita de armamento en el historial cambia, </p>
    <p> pero si registra mas armamento diferente al que tiene en su historial se vera reflejado </p>

    {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}

    {% endif %}

    {% for a in armas %}
    <article class="sold-item">
        
        <div class="data">
            
            <h2>
                Arma:{{a.0}}
            </h2>

        </div>
        
        <div class="clearfix"></div>
                
    </article>
    {% endfor %}
   
{% endblock %}