{% extends 'layouts/layout.html' %}

{% block title%} 
    Registrar Armamento Soldado
{% endblock %}

{% block content %}
    
   {% if messages %}
       
        {% for mensajes in messages %}
            <div class="alert alert-success">
                {{mensajes}}
            </div>
        {% endfor %}

    {% endif %}
        
        {% if searchEditArm %}
            <h1>Cambie de armamento soldado</h1>

            <p>por defecto viene su usuario para cambiar de armamento, NO elejir otro usuario</p>
            
        {% else %}
            <h1>Registre armamento soldado</h1>
        {% endif %}
    
    {% if searchEditArm %}
        <form action="" method="POST">

            {% csrf_token %}
            
            {% for raf in searchEditArm %}
                <label>{{raf.label}}</label>
                {{raf}}
            {% endfor %}
            

            <input type="submit" value="Cambiar" />
        
        </form>
    {% else %}
        <form action="{% url 'save' %}" method="POST">

            {% csrf_token %}
            
            
            <label for="codigo">Codigo soldado</label>
            <input type="number" name="codigo" value="{{user.id}}"/>
            

            <label for="public">Habilidades</label>
            <select name="habilidad" id="idhabilidad">
                <option value="0">Seleccione opcion</option>
                {% for item in listHabilidades %}
                    <option value="{{item.id_habilidad}}">{{item.nombre_habilidad}}</option>
                {% endfor %}
            </select>

            <label for="public">Armamento</label>
            <select name="armamento" id="idarmamento">
                <option value="0">Seleccione opcion</option>
                {% for item in listArmamentos %}
                    <option value="{{item.id_armamento}}" data-chained="{{item.habilidad}}">{{item.nombre_arma}}</option>
                {% endfor %}
            </select>

            

            <input type="submit" value="Guardar" />
            
        </form>
    {% endif %}
    
 
{% endblock %}